* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto", sans-serif; */

button {
  all: unset;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  background-color: gray;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.content-container {
  position: relative;
  width: 100vw;
  max-width: 480px;
  background-color: gray;
}

.wall-menu-hidden {
  position: fixed;
  right: 0;
  background-color: gray;
  width: calc((100% - 480px) / 2);
  height: 100%;
  z-index: 4;
}

.content-transparency {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: fixed;
  top: 0;
  left: calc((100% - 480px) / 2);
  width: 100%;
  max-width: 480px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.transparency-visibility {
  opacity: 1;
  visibility: visible;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); 
  background-color: white;
  width: 100vw;
  max-width: 480px;
  height: 85px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box; 
}

header ion-icon {
  font-size: 40px;
}

header img {
  width: 75px;
  height: 53px;
}

ul {
  list-style: none;
  margin: 85px 0;
}

ul li  {
  font-size: 14px;
  padding: 20px 10px;
}

.status-msg {
  background-color: #DCDCDC;
}

.private-msg {
  background-color: #FFDEDE;
}

.normal-msg {
  background-color: white;
}

form input {
  all: unset;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100vw;
  max-width: 480px;
  box-sizing: border-box; 
  height: 85px;
  z-index: 1;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1);
}

.footer form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 480px;
  padding: 0 20px;
}

.footer button ion-icon {
  font-size: 30px;
}

.form-input::placeholder {
  font-size: 18px;
  color: black;
}

.form-input {
  font-size: 18px;
  color: black;
}

.p-below-msg-box {
  font-weight: 300;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.msg-box-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-title-2 {
  text-align: center;
  font-weight: 700;
  padding-top: 40px;
}

.menu-title {
  text-align: center;
  font-weight: 700;
  padding: 40px 60px 0 60px;
}

.to.first :last-child,
.public-or-private.first :last-child,
.public-or-private.second :last-child {
  font-size: 16px;
}

.to.first :first-child,
.public-or-private.first :first-child,
.public-or-private.second :first-child {
  font-size: 30px;
}

.to.first,
.public-or-private.first,
.public-or-private.second,
.online-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}

.online-user {
  padding-top: 15px;
}

.to.first {
  padding-top: 20px;
}

.check-container {
  display: flex;
  gap: 10px;
}

.check-icon {
  padding-right: 20px;
  color: #28BB25;
}

.hidden-icon {
  display: none;
}

.new-user {
  font-size: 16px;
}

.new-icon {
  font-size: 30px;
}

.to,
.public-or-private {
  padding-top: 15px;
}

.public-or-private.second {
  padding-top: 15px;
}

.default-buttons {
  transform: translateX(100%); 
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  right: calc((100% - 480px) / 2);
  height: 100vh;
  width: 310px;
  background-color: white;
  z-index: 3;
}

.show-default-buttons {
  transform: translateX(0);
}

.pointer-cursor {
  cursor: pointer;
}

.default-buttons {
  cursor: default; 
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.loader ion-icon {
  font-size: 30px;
  color: black;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}
